@mixin box-shadow1($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin box-shadow2($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
    font-family: Arial, Helvetica, sans-serif; font-size: 14px;
    margin: 0 0; padding: 0 0;
    background-color: #F2F2F2;
}

a {text-decoration: none; color: #2D547D; border-style: none; }
a:hover {text-decoration: none; }

.content {
    position: relative;
    width: 90%;
    min-width: 900px;
    max-width: 1500px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 100px 0;
}

.content_index { width: 50%; }

.right_block { float: right; width: 48%;}

.in_cont { width: 60%; }

.in_right_cont {position: absolute; right: 0; top: 0; width: 37%; padding: 15px 15px; background-color: #e8e9eb; @include border-radius(8px);}

h2 { font-size: 25px; margin-bottom: 30px;}

.head { position: relative; min-width: 900px; height: 47px; color: #FFF3B8; background-color: #2D547D; text-align: left; font-size: 14px;
    @include box-shadow2(0 0 10px rgba(99,123,219,0.5));

}

.head a { color: #FFF3B8; font-weight: bold;}

nav { margin-top: 20px; clear: both; text-align: center;
background-image: url(img/menu_lines.png); background-position: center; background-repeat: repeat-x;}
nav ul { width: 600px; display: table; left: 0; right: 0; margin: auto; padding: 0 0; list-style: none; background-color: #F2F2F2;}
nav li { display: table-cell; vertical-align: middle; margin: 0 10px; padding: 0 20px; list-style: none; }
nav a { padding: 13px 10px;
    &:hover{text-decoration: underline;}}
nav .menu_lines2 { width: 1px; height: 32px; padding: 0 0; background-image: url(img/menu_lines2.png);}

.box1 { width: 100%; background-color: #fff;
    border-top-left-radius: 5px; border-top-right-radius: 5px; 
    @include box-shadow1(0 0 10px rgba(150,167,183,0.5));
    li { list-style: none; padding: 10px 10px; }
    
}
.box1_title { color: #fff; background-color: #385A7A;
    background-image: url(img/box_head.png); background-repeat: no-repeat; background-size: contain; background-position: right;
    border-top-left-radius: 5px; border-top-right-radius: 5px;  }

.box1_table { display: table; color: #2F4052; font-size: 12px; line-height: 14px; background-color: #fff; width: 100%; border-collapse: collapse; border-width: 2px; border-style: solid; border-color: #fff;
    ul:nth-child(even){background-color: #F2F0EB}
    ul { display: table-row;
         li {display: table-cell; list-style: none; vertical-align: middle; text-align: left; }
    }          
}

.box1_width { width: 25%;}

.table2 { @extend .box1_table; font-size: 12px;
    li { border-width: 1px; border-color: #c3cace; border-style: solid; padding: 9px 9px; }
}

.table_usluga1 { @extend .box1_table; font-size: 15px; color: #000; line-height: 18px;
    li{padding: 10px 10px;}}

.table2_title { color: #2D547D; font-weight: bold;}

.table2_title_in {@extend .table2_title; color: #fff; background-color: #2D547D; }

.table_green {@extend .table2; background-color: #CFFFC4;
    ul:nth-child(even){background-color: #CFFFC4;}
    ul {&:hover {cursor: pointer}
        li{padding: 5px 5px;}}
}

.row_disable li { color: #787878; background-color: #EBEBEB;}

.note1 { font-size: 11px; color: #666666; line-height: 11px; margin-top: 3px;}
.note1_red { color: #FF543F; font-size: 9px; padding-top:20px; text-align: center;}
.note1_suc { color: #41992E; margin-top: 5px;}

.box1 input, .box1_selectmenu { width: 97%;}

.table_but { display: block; width: 19px; height: 19px; background-repeat: no-repeat; background-size: contain; left: 0; right: 0; margin: auto;
   &:hover { width: 21px; height: 21px; }
}
.table_but_edit { @extend .table_but; background-image: url(img/table_edit.png); }
.table_but_trash { @extend .table_but; background-image: url(img/table_trash.png); }

.chek { display: block; width: 17px; height: 17px; background-repeat: no-repeat; background-size: contain; left: 0; right: 0; margin: auto; }
.chek1 { @extend .chek; background-image: url(img/chek1.png)}
.chek2 { @extend .chek; background-image: url(img/chek2.png)}

.box_cont {padding: 10px 10px; font-size: 12px;}

.trash_foot {@extend .box_cont; border-top: 1px #c3cace solid; font-size: 14px;}

#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
}

.qtyall { width: 67px; }
.table2 li .qty { float: left; font-weight: bold;
    width: 25px; height: 20px; margin: 0px 1px; border: 1px #c3cace solid;
    text-align: center;
}
.but_qty { display: inline-block; float: left; font-size: 20px; color: #fff; background-color: #2D547D; width:20px; height:20px; background-size: contain; background-repeat: no-repeat; }
.qtyplus { @extend .but_qty; background-image: url(img/qtyplus.png) }
.qtyminus { @extend .but_qty; background-image: url(img/qtyminus.png) }

.t1 { font-size: 19px; border-bottom: 1px #2D547D dashed; }




@media screen and (max-width: 1070px) {
    
    .box1 { li {padding: 5px 6px;}}
    
    .table2 {
    li { padding: 4px 4px; }
}
    
}
